.primary-500 {
    background-color: #ffc107 !important;
}

.primary-300 {
    background-color: #FFD54F !important;
}

.primary-700 {
    background-color: #FFA000 !important;
}

.secondary-accent {
    background-color: #448AFF !important;
}
