.primary-500 {
    background-color: #ffc107 !important;
}

.primary-300 {
    background-color: #FFD54F !important;
}

.primary-700 {
    background-color: #FFA000 !important;
}

.primary-accent {
    background-color: #FFC400 !important;
}

.primary-accent-dark {
    background-color: #FFAB00 !important;
}

.secondary-300 {
    background-color: #64B5F6 !important;
}

.secondary-500 {
    background-color: #2196F3 !important;
}

.secondary-700 {
    background-color: #1976D2 !important;
}

.secondary-accent {
    background-color: #448AFF !important;
}

.secondary2-accent {
    background-color: #00b0ff !important;
}

.material-icons.icon-align{
    top: 0.6rem;
    font-size: 2rem;
    position: relative;
}

.search-bar {
    width: 50%;
    margin-left: 25%;
}

.centered-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}
